.container {
    max-width: 400px;
    height: calc(100vh - 3em);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grid {
    width: 100%;
}

.grid h1 {
    text-align: center;
}
